* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: url(./bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	/* this makes content in center */
	height: 100vh;
	font-family: sans-serif;
}
.container {
	background-color: rgba(94, 199, 199, 0.544);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}
h1 {
	margin: 1rem;
	padding: 10px;
}
ol {
	margin: 2rem;
}
li a {
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
	letter-spacing: 3px;
	margin-bottom: 20px;
	padding: 1px;
	border-radius: 4px;
}
li a:hover {
	background-color: white;
	color: rgb(232, 138, 224);
	cursor: pointer;
}
