/* RSVP section///////////////////////// */
/* .rsvp {
	overflow: hidden;
} */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@400;700&family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Oswald:wght@700&family=Roboto:wght@300;400;700&family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@400;700&family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Oswald:wght@700&family=Roboto:wght@300;400;700&family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container-rsvp {
	display: grid;
	grid-template-columns: 1fr 2fr;

	/* border-top: 0.5px solid rgb(68, 42, 42); */
}
.bg {
	background-image: url(./1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: 70% 30%; */
	height: 100%;
	width: 100%;
}
.rsvp-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* commented justify-content so that heading will be on top not in the mid of the page */
	justify-content: center;
	gap: 4rem;
	padding-top: 2rem;
	font-size: 1rem;
	text-align: center;
	/* padding-left: 2rem; */
	background-color: rgba(247, 250, 225, 0.619);
}
.head {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.heading-rsvp {
	font-family: 'Dancing Script', sans-serif;
	font-size: 6rem;
	color: rgb(101, 85, 89);
}
.rsvp--planning-heading {
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	color: rgb(101, 85, 89);
	border: 1px dotted rgb(101, 85, 89);
	width: 15rem;
	text-align: center;
	padding: 0.5rem;
	margin: 4rem 2rem 2rem 2rem;
}
.form-control {
	font-family: 'Muli', sans-serif;
}
.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background-color: rgb(101, 85, 89);
	padding: 10px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
	color: #fff;
}
.btn:focus {
	outline: 0;
}
/* form making button a little less in size when clicked */
.btn:active {
	transform: scale(0.98);
}
.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}
.form-control input {
	background-color: transparent;
	/* for zero outline border */
	border: 0;
	/* for white line */
	border-bottom: 2px #fff solid;
	display: block;
	/* width all the way across */
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	/* input color-white */
	color: rgba(101, 85, 89);
	border-bottom-color: rgba(101, 85, 89);
}
/* to get rid of the border whn typing in the input */
.form-control input:focus,
.form-control input:valid {
	outline: 0;
	/* change border-bottom to light blue when clicked */
	border-bottom-color: rgba(101, 85, 89);
}
.form-control label {
	position: absolute;
	/* for labels to be on top of line of input */
	top: 15px;
	left: 0;
}
.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	/* for cool bounce effect when clicked on label to type */
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span {
	/* when u click on label, it turns to light blue */
	color: rgba(101, 85, 89);
	/* to move a little bit up when clicked to type */
	transform: translateY(-30px);
	background-color: rgba(247, 250, 225, 0.619);
}

input[type='number'] {
	padding: 0.5rem;
	background-color: rgba(247, 250, 225, 0.619);
	/* border: rgb(111, 59, 69); */
	margin-top: 2rem;
	margin-bottom: 4rem;

	border: 0;
	outline: 0;
	font-size: 18px;
	border-bottom: 2px solid rgba(101, 85, 89);

	width: auto;
	display: inline-block;
	height: auto;
}
.label {
	font-size: 18px;
}
textarea {
	background-color: rgba(247, 250, 225, 0.619);
	outline: none;
	width: 100%;
	border: none;
	border-bottom: 2px solid rgba(101, 85, 89);
	font-family: 'Muli', sans-serif;
	font-size: 18px;
}
.home {
	padding: 0.5rem;
	text-align: center;
}
.home a {
	text-decoration: none;
	color: rgba(101, 85, 89);
	padding: 0.5rem;
	border-radius: 5px;
}
.home a:hover {
	color: rgba(101, 85, 89);
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.4);
}
.home a:active,
.home a:focus {
	color: rgba(101, 85, 89);
	text-decoration: none;
}
