@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Muli', sans-serif;
	background-color: steelblue;
	color: #fff;
	height: 100vh;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.home {
	padding: 2rem;
}
.container {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px 40px;
	border-radius: 5px;
}
.container h1 {
	text-align: center;
	margin-bottom: 30px;
}
.container a {
	text-decoration: none;
	color: lightblue;
}
.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background-color: lightblue;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
}
.btn:focus {
	outline: 0;
}
/* form making button a little less in size when clicked */
.btn:active {
	transform: scale(0.98);
}
.text {
	margin-top: 30px;
}
.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}
.form-control input {
	background-color: transparent;
	/* for zero outline border */
	border: 0;
	/* for white line */
	border-bottom: 2px #fff solid;
	display: block;
	/* width all the way across */
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	/* input color-white */
	color: #fff;
}
/* to get rid of the border whn typing in the input */
.form-control input:focus,
.form-control input:valid {
	outline: 0;
	/* change border-bottom to light blue when clicked */
	border-bottom-color: lightblue;
}
.form-control label {
	position: absolute;
	/* for labels to be on top of line of input */
	top: 15px;
	left: 0;
}
.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	/* for cool bounce effect when clicked on label to type */
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span {
	/* when u click on label, it turns to light blue */
	color: lightblue;
	/* to move a little bit up when clicked to type */
	transform: translateY(-30px);
}
